@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
}

main {
  height: auto;
  top: -92px;
  position: absolute;
}

main .bg-img {
  width: 100%;
  height: 100vh;
  background-image: url("assets/img.jpg");
  background-size: 100%;
  object-fit: cover;
  position: relative;
}

/* NAVBAR */
#navbar {
    /* background-color: #121212; */
    transition: 0.2s ease;
    background-color: #121212;
    position: absolute;
    top: 0;
    padding: 0 100px;
    position: sticky;
    z-index: 999;
    overflow-x: hidden;
  }
  
  #navbar .container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #navbar .container .wrapper-nav {
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
  }
  
  #navbar .container .wrapper-nav a {
    width: 50%;
    text-align: left;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 2.5px;
    text-decoration: none;
  }
  
  #navbar .container .wrapper-nav .links {
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
  
  #navbar .container .wrapper-nav .links ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  
  #navbar .container .wrapper-nav .links ul a {
    margin-left: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    background: linear-gradient(#fdc022 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.4s, background-position 0s;
  }
  
  #navbar .container .wrapper-nav .links ul a:hover {
    --p: 100%;
    color: #fff;
  }

#reviews {
    width: 100%;
    margin: 100px 0;
    height: 24rem;
  }
  
  #reviews .container {
    margin: 0 100px;
  }
  
  #reviews .container .wrapper .header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  #reviews .container .wrapper .header h5 {
    margin: 0;
    letter-spacing: 2px;
    width: 100%;
  }
  
  #reviews .container .wrapper .header h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
  }
  
  #reviews .container .wrapper .grid-container {
    width: 100%;
    display: grid;
    margin-top: 32px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 54px;
  }
  
  #reviews .container .wrapper .grid-container .card {
    height: auto;
    border: 1px solid #eeeeee;
    padding: 20px;
    transition: 1.2s ease;
  }
  
  #reviews .container .wrapper .grid-container .card:hover {
    position: relative;
    top: -20px;
    right: -8px;
    box-shadow: 0px 2.3px 5.5px -18px rgba(0, 0, 0, 0.029),
      0px 7.8px 18.3px -18px rgba(0, 0, 0, 0.037),
      0px 35px 82px -18px rgba(0, 0, 0, 0.1);
  }
  
  #reviews .container .wrapper .grid-container .card .header-card {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 24px;
  }
  
  #reviews .container .wrapper .grid-container .card .header-card img {
    width: 16%;
    height: 16%;
  }
  
  #reviews .container .wrapper .grid-container .card .desc {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    /* or 20px */
    letter-spacing: 2%;
  
    letter-spacing: 0.04em;
  
    color: #454545;
  }
  
  #reviews .container .wrapper .grid-container .card .header-card .name-address {
    height: auto;
    padding-left: 20px;
  }
  
  #reviews
    .container
    .wrapper
    .grid-container
    .card
    .header-card
    .name-address
    h4 {
    margin: 0;
    margin-bottom: 12px;
  }
  
  #reviews
    .container
    .wrapper
    .grid-container
    .card
    .header-card
    .name-address
    p {
    margin: 0;
  }
  
  .button {
    background-color: #16a63c;
    border-radius: 12px;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 30px 2px;
    cursor: pointer;
  }

  /* FOOTER */
  #footer {
    width: 100%;
    background-color: #252d28;
  }
  
  .footer-top {
    padding: 40px;
  }
  
  .footer-logo {
    font-size: 20px;
    margin-bottom: 3%;
    color: #fff;
  }
  
  .desc-naturvio {
    width: 40%;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    color: #697586;
    margin-bottom: 3%;
    color: #eeee;
  }
  
  .menu-contact {
    display: flex;
    align-items: center;
    gap: 34.3%;
  }
  
  .menu-footer {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
  }
  
  .menu-footer a {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }
  
  .contact {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .follow-contact {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }
  
  .icon-footer {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .footer-top hr {
    margin-top: 2%;
    margin-bottom: 1.5%;
    background-color: var(--secondary300);
    height: 1px;
    border: 0;
  }
  
  .bottom-footer {
    display: flex;
    align-items: center;
    gap: 64.5%;
  }
  
  .bottom-footer .left {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .bottom-footer .left i {
    font-size: 17.5px;
    color: #fff;
  }
  
  .bottom-footer .left p {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #fff;
  }
  
  .right {
    display: flex;
    gap: 30px;
  }
  
  .right a {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
  }
  
  .icon-footer-container {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #828282;
  }
  
  .icon-footer-container i {
    padding: 10px 11px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  /* ---- ABOUT PAGE ---- */
  #about-page {
    width: 90%;
    margin: 100px auto;
    /* height: 2400px; */
    top: 100px;
  }
  
  /* #about-page .container {
  }
   */
  #about-page .container .header .title {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
  }
  
  #about-page .container .header .title h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    width: 60%;
    margin: 0 auto;
    line-height: 130%;
    letter-spacing: 4%;
    text-align: center;
    color: #121212;
    letter-spacing: 0.04em;
  }
  
  #about-page .container .header .title span {
    color: #738c71;
  }
  
  #about-page .header .img-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  #about-page .header .img-row .img-column {
    flex: 50%;
    padding: 0 4px;
  }
  
  #about-page .header .img-row .img-column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* OUR STORY */
  
  #our-story {
    width: 100%;
    height: 620px;
  }
  
  #our-story .content {
    margin: 10% auto;
  }
  
  #our-story .content .header {
    width: 100%;
    text-align: center;
  }
  
  #our-story .content .header h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
  }
  
  #our-story .content .desc {
    display: flex;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
  }
  
  #our-story .content .desc p {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    color: #0b0b0b;
  }
  
  /* OUR TEAM */
  #our-team {
    width: 100%;
    height: 600px;
  }
  
  #our-team .container {
    margin: 0 100px;
  }
  
  #our-team .container .header {
    width: 100%;
    text-align: center;
  }
  
  #our-team .container .header h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
  }
  
  #our-team .container .content .card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 54px;
    /* row-gap: 54px; */
  }
  
  #our-team .container .content .card-container .card {
    width: 100%;
    height: 400px;
    background-color: #eee;
  }
  
  #our-team .container .content .card-container .card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  #our-team .container .content .card-container .card .title-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 999;
    width: 100%;
  }
  
  #our-team .container .content .card-container .card .title-card h1 {
    margin: 0;
  }  



  /* chatbot */
  /* Import Google font - Poppins */

.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #724ae8;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 350px;
  height: 550px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #724ae8;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #724ae8;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #724ae8;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #724ae8;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}
@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}